html {
    background-color: antiquewhite;
}

.tabs {
    background-color: tan;
}

.home-tab,
.project-tab,
.contact-tab,
.resume-tab {
    margin: 2rem;
}

.image img {
    width: 25%;
}

.profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 30px;
    width: 25%;
}

.card-content {
    background-color: tan;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid black;
}

.projectPic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 30px;
    width: 50%;
}